h1{
    color: aqua;
}
div{
    padding: auto;
}
.coco{
    color: brown;
}
.container{
    background-color: darkgreen;
}
.toto{
    color: darkred;
    padding: auto;
    font-size: 15pt;
    align-items: flex-end;
    column-width: 25px;
}
.marron{
    color: deeppink;
}
.vertgras{
    color: gold;
    font-weight: bold;
    font-size: 41px;
}