h1{
    color: aqua;
}
div{
    padding: auto;
}
.coco{
    color: brown;
}
.container{
    background-color: darkgreen;
}
.toto{
    color: darkred;
    padding: auto;
    font-size: 15pt;
    align-items: flex-end;
    column-width: 25px;
}
.marron{
    color: deeppink;
}
.vertgras{
    color: gold;
    font-weight: bold;
    font-size: 21px;
}
.bordure{
    color: blue;
    font-size: 25px;
    border: dashed;
    box-shadow: 00 2px rgb(0, 255, 55);
    padding: auto;
    text-align: center;
    text-transform: lowercase;
    border-radius:  5px 10px 10px green;

}
h1 em 
{
color: blue
}
h3+p
{
    color: coral;
    font-style: italic;
    font-weight: bolder;
    padding-left: 14px;
}
a:link{
    text-decoration: underline;
    color: rgb(37, 220, 20);
}
a:visited{
    text-decoration: underline overline;
    color: rgb(115, 255, 0);
}
.cc::before{
    content: url(image/Purple\ E-sports\ Illustrative\ Gaming\ and\ Technology\ Logo.png)
    
}
.kabson{
    font-style: italic;
    font-family: fantasy;
    font-weight: 800px;
    color: chocolate;
    text-transform: capitalize;
    border : 2px solid;
    background-color: red;
    text-align: center;
    background-attachment: scroll;
}
body{
    background-color: rgb(47, 0, 255);
    background-image: url(image/Purple\ E-sports\ Illustrative\ Gaming\ and\ Technology\ Logo.png);
    background-repeat: repeat;
    background-position : center;
    
}
.ch{
    vertical-align: text-bottom;
    text-align: center;
    border-radius: 25px rgb(128, 0, 0);
    border: 2px solid;
    background-color: rgb(0, 255, 55);
    letter-spacing: 0pt;
    display: ruby;

}
.inlineback{
    display: block;
    text-align: center;
    border: 1px solid;
    text-decoration: underline;
    color: rgb(0, 255, 55);
}
.soloking{
    display: block;
    text-transform: lowercase;
    text-align: center;
    border: 2px solid;
    color: brown;
}
.lekingnasdaq{
    display: block ;
    text-align: center;
    border-color: brown;
    border: 1px solid;

}
nav ul {
    list-style-type: none;
    display: inline block;
    text-align: center;
    }
 
 nav li{
    display: inline;
    background-color:#EEE;
    border: 1px solid;
    border-color: #F3F3F3 #BBB #BBB #F3F3F3;
    margin: 1px;
    padding:.5em;
}
.menu li{
    display: inline;
    background-color:#EEE;
    border: 1px solid;
    border-color: #F3F3F3 #BBB #BBB #F3F3F3;
    margin: 1px;
    padding:.5em;
}
.carre{
    list-style-type: square;
    background-color: darkviolet;
    #display: inline-block;
}
ul.qoqo{
    list-style-type: square;
}
.ti{
    text-decoration: underline;
    color: deeppink;
    text-transform: lowercase;
    font-style: italic;
}
.tii{
    text-decoration: underline;
    color:deeppink;
    text-transform: capitalize;
    font-style: italic;
}
.La{
    text-transform: capitalize;
    text-decoration: underline;
    border: 1px solid;
    color: gold;
    text-align: center;

}
.fig{
  border: 2px;
}

.faharatou{
    border: 2px solid;
}

.youth{
    border: 2px solid;
    width: 100%;
    font-size: 12px;
    color: darkorange;
    border-collapse: collapse;
}
.poupette{
    border: 2px solid;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
}
.captions{
    caption-side: bottom;
    text-decoration: underline;
    color: darkred;
    font-style: italic;


}
.coco{
    border: 2px solid;
    stop-opacity: inherit;
    font-style: oblique;
    width: 100%;
    color: lawngreen;
    text-transform: capitalize;
    text-decoration-style: solid;
    text-decoration: underline ;
}